<style>
.map {
  width: 500px;
  height: 300px;
  margin-top: 10px;
}
</style>

<div class="maincontent">
  <article class="article">
    <h1 class="article-title">New Jersey Historical Sites</h1>
      <p>This site explores some of the historical sites and things to do in New Jersey, including museums and national parks.</p>
  </article><!-- article -->


  <article class="article">
    <h1 class="article-title">Where is New Jersey?</h1>
    <p>New Jersey is the northeastern part of the United States of America.  It is bordered by Pennsylvania, New York, Delaware, and the Atlantic Ocean.  Major cities in New Jersey include Newark, Jersey City, Atlantic City, and Trenton.  Other major cities near New Jersey are Philadelphia, Pennsylvania; New York City, New York; and Wilmington, Delaware.
  </article><!-- article -->
<figure>
<img class="map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/New_Jersey_in_United_States.svg/2000px-New_Jersey_in_United_States.svg.png"/>
<figcaption>This map shows New Jersey (in red) within the United States.</figcaption>
</figure>

</div>
