<article class="sidebar">
  <h1 class="sidebar-title">Cool NJ Facts</h1>
  <ul class="sidebar-body">
    <li>New Jersey was the third state to ratify the Constitution.</li>
    <li>New Jersey has the most diners in the world.</li>
    <li>The capital of New Jersey is Trenton.</li>
    <li>The longest boardwalk in the world is located in Atlantic City, NJ.</li>
    <li>The first baseball game was played in New Jersey (Hoboken), as was the first intercollegiate football game (New Brunswick).</li>
    <li>New Jersey's state motto is "Liberty and Prosperity."</li>
    <li>The first submarine ride took place in the Passaic River, which runs from Mendham, NJ, to Newark, NJ.</li>
  </ul>
</article><!-- article -->
